/* General form section padding */
.form-section {
    padding: 2rem 2.5rem;
}

/* Headline and text */
.head-title-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.head-title-login h5 {
    padding-bottom: 5px;
}
.leading-tight{
    color: white;

}

/* Full screen flex centering */
.full-screen {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Background styling */
.hero-bg-2 {
    position: relative;
    z-index: 0;
}
.hero-bg-2::before {
    position: absolute;
    content: "";
    background: url("../../../public/Login/login.jpg") no-repeat center bottom / cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Padding top/bottom */
.ptb-100 {
    padding: 100px 0;
}
.form-group {
    position: relative;
}
/* Inputs */
.form-control:focus {
    border-color: #65258a;
    box-shadow: none;
}
input.form-control {
    padding-left:60px !important;
}
.login-signup-form .form-group label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 90%;
}

.login-signup-form .form-group input:not([type="checkbox"]) {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 3.4rem;
    border: 1px solid lightgray;
    margin: 10px 0;
}

.input-icon {
    position: absolute;
    top: 57%;
    left: 12px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-size: 20px;
}

.input-icon span {
    padding: 18px 15px;
    border-left: 2px solid #65258a;
    position: absolute;
    font-size: 18px;
    height: calc(3.4rem + 2px);
    border-radius: 4px;
    color: #afafaf;
}

/* Placeholder styling */
input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #b1b1b1 !important;
    font-size: 13px;
}

h1 {
    line-height: 1.2;
}
.sign-in{
    background-color: var(--e-global-color-ec11549);
    padding:0.4rem 0.75rem;
    margin-top: 1rem;
    transition: all 0.5s ease-in-out;
}

.sign-in:hover{
    cursor: pointer;
    background-color: transparent;
    border:1px solid var(--e-global-color-7f83c1f);
    color: #3a4654;
}
/* Responsive adjustments */
/* Responsive adjustments */
.create-account a{
    font-size: 1rem;
    margin-left: 0.75rem;
    color: var(--e-global-color-ec11549);
}
.create-account{
    border-top: 2px solid #c3c3c3;
    padding-top: 1rem;
    margin-top: 2rem;
}
.create-acc{
    margin-top: 2rem;
}
.checkbx {
    font-size: 0.75rem;
}
@media (max-width: 991px) {
    .ptb-100 {
        padding: 55px 0;
    }

    /* Center left text on smaller screens */
    .text-center {
        text-align: center !important;
    }

    /* Smaller headline on mobile */
    h1.text-4xl {
        font-size: 2.25rem /* 36px */;
    }
}

@media (max-width: 640px) {

    .form-section {
        padding: 1.5rem 1rem;
    }

    /* Adjust input size */
    /*input {*/
    /*    font-size: 13px;*/
    /*    height: 3rem;*/
    /*}*/
    input:not([type="checkbox"]) {
        font-size: 13px;
        height: 3rem;
    }
    .input-icon {
        width: 35px;
        font-size: 16px;
    }
}
