@import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css";
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

@import "tailwindcss";

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*color: #3a4654;*/
    vertical-align: baseline;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

@font-face {
    font-family: 'Poppins' !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-size: 1rem;
    color: #707070;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.75;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-y: scroll;
    /*font-size: 15px;*/
    color: #3a4654;
}

/* -----------------------------------------
           01. BASE TYPOGRAPHY
-------------------------------------------- */
body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn, .btn-simple, a, .td-name, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5 {
    /*margin: 0 0 1rem;*/
    font-weight: 600;
    line-height: 1.21;
    color: initial;
}


/* These CSS variables are global, so they are available in all CSS modules */
:root {
    --shop-font-family-Montserrat: 'Montserrat';
    --shop-font-backup: segoe, iran-yekan;
    --shop-font-family-rokh: rokh;
    --shop-font-family-abi: abi;
    --shop-font-default: var(--shop-font-family-Montserrat, sans-serif);
    --shop-font-size-title: 24px;
    --shop-font-size-h1: 44px;
    --shop-font-size-h2: 32px;
    --shop-font-size-h3: 25px;
    --shop-font-size-h4: 24px;
    --shop-font-size-h5: 20px;
    --shop-font-size-h6: 18px;
    --shop-font-size-subtitle: 17px;
    --shop-font-size-body: 16px;
    --shop-font-size-body-small: 15px;
    --shop-font-size-caption: 14px;
    --shop-font-size-caption-small: 13px;
    --shop-font-size-tag: 12px;
    --shop-font-size-tag-small: 10px;
    --shop-font-size-tag-thin: 8px;
    --shop-font-style-normal: normal;
    --shop-font-weight-thin: 100;
    --shop-font-weight-light: 300;
    --shop-font-weight-regular: 400;
    --shop-font-weight-medium: 500;
    --shop-font-weight-semibold: 600;
    --shop-font-weight-bold: 700;
    --shop-font-weight-extrabold: 800;
    --shop-font-weight-black: 900;
    --shop-font-weight-extrablack: 950;
    --shop-primary-color-100: #F3F6F9;
    --shop-primary-color-200: #EBF0F4;
    --shop-primary-color-300: #DBE3EA;
    --shop-primary-color-400: #D4DBE3;
    --shop-primary-color-500: #c3c3c3;
    --shop-primary-color-600: #3A4654;
    --shop-secondary-color-100: #FFCF97;
    --shop-secondary-color-200: #FEA43A;
    --shop-secondary-color-300: #FF8A00;
    --shop-tertiary-color-100: #F7F7F7;
    --shop-tertiary-color-200: #EDEDED;
    --shop-tertiary-color-300: #E0E0E0;
    --shop-tertiary-color-400: #BEBEBE;
    --shop-tertiary-color-500: #979797;
    --shop-tertiary-color-600: #676767;
    --shop-white: #fff;
    --shop-box-shadow-default: 0px 6px 12px 0px rgba(0, 0, 0, 0.09);
    --shop-border-radius-default: 16px;
    --shop-font-headline-h1: var(--shop-font-style-normal) var(--shop-font-weight-extrablack) var(--shop-font-size-h1) var(--shop-font-family-abi);
    --shop-font-headline-h2: var(--shop-font-style-normal) var(--shop-font-weight-regular) var(--shop-font-size-h2) var(--shop-font-default);
    --shop-font-headline-h3: var(--shop-font-style-normal) var(--shop-font-weight-extrabold) var(--shop-font-size-h3) var(--shop-font-default);
    --shop-font-headline-h4: var(--shop-font-style-normal) var(--shop-font-weight-extrabold) var(--shop-font-size-h4) var(--shop-font-default);
    --shop-font-headline-h5: var(--shop-font-style-normal) var(--shop-font-weight-extrabold) var(--shop-font-size-h5) var(--shop-font-default);
    --shop-font-headline-h5-bold: var(--shop-font-style-normal) var(--shop-font-weight-bold) var(--shop-font-size-h5) var(--shop-font-default);
    --shop-font-product-title: var(--shop-font-weight-bold) var(--shop-font-size-subtitle) var(--shop-font-default);
    --shop-font-title: var(--shop-font-weight-bold) var(--shop-font-size-h4) var(--shop-font-default);
    --shop-font-body: var(--shop-font-weight-regular) var(--shop-font-size-body-small) var(--shop-font-default);
    --shop-font-product-title--responsive: var(--shop-font-weight-bold) var(--shop-font-size-caption) var(--shop-font-default);


    --e-global-color-primary: #3A4654;
    --e-global-color-secondary: #FF8A00;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-5fd6605: #000000;
    --e-global-color-b5bc7e9: #f2f2f7;
    --e-global-color-a7de09f: #F3F6F9;
    --e-global-color-87cf169: #EBF0F4;
    --e-global-color-c57cb99: #DBE3EA;
    --e-global-color-178a264: #D4DBE3;
    --e-global-color-d509792: #808D9D;
    --e-global-color-a07cd6b: #3A4654;
    --e-global-color-b310285: #FFCF97;
    --e-global-color-7f83c1f: #FEA43A;
    --e-global-color-ec11549: #FF8A00;
    --e-global-color-e387de8: #F7F7F7;
    --e-global-color-bac7550: #EDEDED;
    --e-global-color-1c78538: #E0E0E0;
    --e-global-color-f121cf3: #BEBEBE;
    --e-global-color-4d98a0e: #979797;
    --e-global-color-e56c321: #676767;
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-weight: 500;
}

/* global or inside a component's CSS/SCSS file */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--e-global-color-1c78538);
}

::-webkit-scrollbar-thumb {
    background-color: var(--e-global-color-ec11549);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--e-global-color-7f83c1f);
}


.title {
    position: relative;
    padding-left: 15px;
}

.title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--e-global-color-ec11549);
}

.sales-title {
    font: var(--shop-font-weight-extrabold) var(--shop-font-size-h4) var(--shop-font-default);
    margin-bottom: 49px;
    letter-spacing: -0.72px;
    color: var(--shop-primary-color-600);
}

/*========================================
        02. PRE DEFINE CLASS CSS
==========================================*/
.container {
    margin: 0 auto;
    max-width: 1470px;
    padding: 0 6px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    height: 66px;
}

nav {
    margin-bottom: 0;
}

.home-header {
    backdrop-filter: blur(20px); /* md blur size */
}

.other-header {
    /*background-color: var(--e-global-color-b310285); !* bg-gray-200 with 40% opacity *!*/
    background-color:transparent; /* bg-gray-200 with 40% opacity */
    backdrop-filter: blur(12px); /* md blur size */
}

nav {
    height: 100%;
}

.footer--main {
    bottom: 0;
    width: 100%;
}

.section-spacing {
    --spacer-size: 50px;
}

/*promo style three*/
@media (min-width: 776px) and (max-width: 991px) {
    .promo-single-wrap {
        margin-top: 20px;
    }
}

/*countdown*/
@media (min-width: 320px) and (max-width: 575px) {
    .action-btns .btn {
        margin: 6px 0;
    }
}

.shadow-md {
    margin-bottom: 1rem;
    box-shadow: var(--shop-box-shadow-default) !important;
}

.shadow-sm {
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}

@layer components {
    .loader {
        width: 45px;
        aspect-ratio: 0.75;

        /* Use a vertical linear gradient with solid color */
        --c: linear-gradient(to top, theme('colors.stone.800') 0 100%);

        background:
                var(--c) 0 50%,
                var(--c) 50% 50%,
                var(--c) 100% 50%;
        background-repeat: no-repeat;
        background-size: 20% 50%;

        animation: loading 1s infinite linear;
    }

    @keyframes loading {
        20% {
            background-position: 0% 0%, 50% 50%, 100% 50%;
        }
        40% {
            background-position: 0% 100%, 50% 0%, 100% 50%;
        }
        60% {
            background-position: 0% 50%, 50% 100%, 100% 0%;
        }
        80% {
            background-position: 0% 50%, 50% 50%, 100% 100%;
        }
    }
}



/*=========================================
            01. HEADER SECTION CSS
============================================*/
.menu-item-top, .menu-item-mobile {
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5c5c5c;
    transition: all .25s ease-in-out;
}

.menu-item-top:hover {
    color: var(--shop-secondary-color-200);
}


.menu-item-mobile:hover {
    color: var(--shop-secondary-color-200);
}

.mobile-menu {
    background-color: var(--shop-secondary-color-100);
}

.shop-header__action--cart {
    position: relative;
    top: 1px;
    left: 6px;
}

.shop-header__action--cart--btn {
    border: 1px solid var(--shop-white);
    padding: 6px;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
}

.shop-header__action--cart--btn-scroll {
    border: 1px solid var(--shop-secondary-color-300);
    padding: 6px;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
}

.shop-header__action--cart--btn i,
.shop-header__action--cart--btn-scroll i {
    font-size: 18px;
    color: var(--shop-primary-color-600);
    transition: all 0.6s ease-in-out;
}

.shop-header__action--cart--btn-scroll:hover {
    background-color: var(--shop-secondary-color-300);
    color: var(--shop-white);
}

.shop-header__action--cart--btn:hover {
    background-color: var(--shop-white);
    color: var(--shop-secondary-color-300);
}

/*mobile menu*/
.shop-header__action--cart--mobile-menu {
    position: relative;
    top: 18px;
    left: 6px;
}

.isax {
    font-style: normal;
    font-weight: lighter;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mini-cart-count {
    position: absolute;
    top: -10px;
    right: -4px;
    padding: 0 5px;
    display: flex;
    border-radius: 50%;
    background-color: var(--shop-secondary-color-300);
    color: var(--shop-white);
    width: 20px;
    height: 20px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    font: var(--shop-font-weight-regular) var(--shop-font-size-tag) var(--shop-font-default);
}

.login_btn {
    border: 1px solid var(--shop-secondary-color-300);
    padding: 4px 10px;
    border-radius: 6px;
    /*color: var(--shop-white);*/
    transition: all 0.6s ease-in-out;
}

.login_btn:hover {
    background-color: var(--shop-white);
    color: var(--shop-secondary-color-300);
}

.login_btn_scrolled {
    padding: 6px 10px;
    background-color: var(--shop-white);
    color: var(--shop-secondary-color-300);
    transition: all 0.6s ease-in-out;
    border-radius: 6px;
    border: 2px solid var(--shop-secondary-color-300);
}

.login_btn_scrolled:hover {
    background-color: var(--shop-secondary-color-300);
    color: var(--shop-white);
}

.logo-top img {
    transition: all 0.3s ease;
}

/*=========================================
            02. HERO SECTION CSS
============================================*/
/*.hero-equal-height {*/
/*    position: relative;*/
/*    min-height: 700px;*/
/*    -js-display: flex;*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-box-direction: normal;*/
/*    -ms-flex-direction: column;*/
/*    flex-direction: column;*/
/*    -webkit-box-pack: center;*/
/*    -ms-flex-pack: center;*/
/*    justify-content: center;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*.offer-tag {*/
/*    padding: 15px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 25%;*/
/*    color: #ffffff;*/
/*}*/

/*.offer-price-tag {*/
/*    font-size: 63px;*/
/*    line-height: 108px;*/
/*    font-weight: 700;*/
/*    margin-bottom: 1.5rem;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

/*.offer-price-tag small, .offer-price-tag span {*/
/*    font-size: 25px;*/
/*    line-height: initial;*/
/*}*/

/*.offer-price-tag span {*/
/*    position: relative;*/
/*    top: -40px;*/
/*}*/

/*.offer-price-tag p {*/
/*    line-height: initial;*/
/*}*/

/*.secondary-solid-btn, .outline-white-btn {*/
/*    padding: 12px 30px;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 13px;*/
/*    border-radius: 8px;*/
/*    transition: all .25s ease-in-out;*/
/*}*/

/*.outline-white-btn {*/
/*    color: #ffffff;*/
/*    border: 1px solid #ffffff;*/
/*}*/

/*.outline-white-btn:hover {*/
/*    background: #ffffff;*/
/*    color: var(--shop-secondary-color-100);*/
/*}*/

/*.secondary-solid-btn {*/
/*    color: #fff;*/
/*    background: var(--shop-secondary-color-200);*/
/*    border: 1px solid #fff;*/
/*}*/

/*.secondary-solid-btn:hover {*/
/*    background: var(--shop-secondary-color-300);*/
/*    color: #fff;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*}*/

/*.hero-equal-height {*/
/*    position: relative;*/
/*    min-height: 700px;*/
/*    display: flex;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-box-direction: normal;*/
/*    flex-direction: column;*/
/*    -webkit-box-pack: center;*/
/*    justify-content: center;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/


/*=========================================
            02. PRODUCT CARD SECTION CSS
============================================*/

.add-to-cart {
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 1em 1em;
    color: var(--shop-primary-color-500);
    background-color: var(--shop-primary-color-100);
    border: 0;
    box-shadow: none;
    text-shadow: none;
    transition: all 0.10s ease-in-out;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.icon-btn {
    font-size: 16px;
    margin-left: 10px;
    padding: 0;
    transition: all 0.10s ease-in-out;
}

.add-to-cart button {
    transition: all 0.10s ease-in;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

/* Hover effect */
.add-to-cart:hover {
    color: var(--shop-white);
    background-color: var(--shop-secondary-color-300);
}

/* Move both button and icon on hover */
.add-to-cart:hover button,
.add-to-cart:hover .icon-btn {
    /*transform: translateX(5px);*/
}


.product-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    position: relative;
}

.product-card-bestseller {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    position: relative;
}

.product-card img, .product-card-bestseller img {
    position: relative;
    display: block;
    width: 100%;
    max-height: 210px;
}

.onsale {
    background-color: var(--shop-secondary-color-300);
    border-radius: 8px 8px 0 0;
    background-repeat: no-repeat;
    padding-inline: 9px;
    width: 53px;
    height: 26px;
    position: absolute;
    top: 10px; /* Adjust the top position to fit your image */
    right: -1px; /* Adjust the right position */
    font-weight: 600;
    color: var(--shop-white);
    text-align: center;
    font-size: 14px;
    line-height: 26px;
}


.onsale::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 100%;
    border-right: 6px solid var(--shop-secondary-color-300);
    border-bottom: 2px solid transparent;
}

.onsale::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 100%;
    border-right: 6px solid var(--shop-secondary-color-300) !important;
    border-bottom: 2px solid transparent;
}

.product-title {
    font: var(--shop-font-product-title);
    color: var(--shop-primary-color-600);
    margin-block-end: 26px;
}

.shop-discount-product__divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.shop-discount-product__divider--line {
    position: relative;
    width: 80%;
    height: 1px;
    background: var(--shop-primary-color-200);
}

/*.shop-newset__product__divider {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding-block-end: 18px;*/
/*    padding-block-start: 18px;*/
/*}*/

/*.shop-newset__product__divider--line {*/
/*    position: relative;*/
/*    width: 80%;*/
/*    height: 1px;*/
/*    background: var(--shop-primary-color-200);*/
/*}*/

/*.shop-newset__product__divider--line::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: -3px;*/
/*    transform: translateX(-50%);*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 50%;*/
/*    background: var(--shop-primary-color-400);*/
/*}*/

.product-price {
    font: var(--shop-font-weight-extrabold) var(--shop-font-size-h3) var(--shop-font-default);
    line-height: 20px;
    letter-spacing: -0.75px;
    color: var(--shop-secondary-color-300);
}

.product-price-old {
    color: var(--e-global-color-4d98a0e);
    align-self: end;
}

/*=========================================
            04. category SECTION CSS
============================================*/

.icon_category_item {
    color: inherit;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cat_item {
    border-radius: 16px;
    background-color: var(--shop-primary-color-100);
}

.cat_item span {
    color: inherit;
}

.cat_item:hover {
    background-color: var(--shop-secondary-color-300);
    color: var(--shop-white); /* changes both icon and text */
    cursor: pointer;
}

@keyframes angry-animation {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


.features {
    color: #808D9D !important;
    background-color: var(--shop-primary-color-100);
    padding: 10px;
}

.about_marketly {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.about-desc {
    margin-top: 2rem;
}

/*=========================================
            05. BRAND SECTION CSS
============================================*/
.brand-element {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --overlay-opacity: 0.5;
    /*--border-radius: 16px 16px 16px 16px;*/
    --padding-top: 24px;
    --padding-bottom: 24px;
    --padding-left: 24px;
    --padding-right: 24px;
    --padding: 24px;
    --border-radius: 16px;
}


.brand::before {
    background-image: url("./../public/products/op-min.png");
    background-size: cover;
    background-position: center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; /* To make the background image subtle */
    z-index: -1;
}

.brand {
    display: flex;
    flex-direction: column-reverse;
    padding: 6px 16px;
    border-radius: 16px;
    position: relative;
    justify-content: space-evenly;
    z-index: 1;
    background-image: linear-gradient(-90deg, var(--e-global-color-secondary) 25%, var(--e-global-color-primary) 0%);
}

.brand-title {
    color: var(--shop-white);
}

.brand-desc {
    padding: 10px 0;
}

.brand-txt-container {
    position: relative;
    left: -56px;
    padding: 10px;
    font-size: 1rem;
}

.brand-btn {
    color: var(--shop-primary-color-600);
    background-color: var(--e-global-color-a7de09f);
    width: fit-content;
    padding: 5px;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
    z-index: -1;
    border: 1px solid var(--shop-tertiary-color-600);
}

.brand img {
    position: absolute;
    bottom: 2%;
    right: 14%;
}

@media (min-width: 1024px) {
    .brand {
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .brand-txt-container ,.brand-btn {
        font-size: 0.5rem;
    }
    .brand img {
        right: 7%;
    }
}


/*=========================================
            06. BEST SELLER SECTION CSS
============================================*/
.show_all {
    background-color: var(--shop-primary-color-100);
    color: var(--shop-tertiary-color-600);
    padding: 6px;
    border-radius: 10px;
}

.category_background li {
    position: relative;
    left: 0;
    border-radius: 10px;
    margin: 13px 10px;
    font-size: 1.1rem;
    padding: 6px;
    overflow: hidden;
    transition: all .25s ease-in-out;
}

.selectedCategoryStyle {
    background-color: var(--shop-secondary-color-300);
    color: var(--shop-white);
    left: -10px;
}

.category_background li span {
    padding: 0 10px;
}

.category_background {
    background-color: var(--shop-primary-color-100);
    color: var(--shop-tertiary-color-600);
}

.selectedCategoryStyle {
    background-color: var(--shop-secondary-color-300);
    color: var(--shop-white);
}

.best-seller-slider .keen-slider__slide {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/*=========================================
            29. BACK TO TOP CSS
============================================*/
.scroll-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 105%;
    right: 50px;
    font-size: 16px;
    border-radius: 50%;
    z-index: 99;
    color: #ffffff;
    cursor: pointer;
    background: var(--shop-secondary-color-300);
    transition: 1s ease;
    border: none;

    /* Flexbox to center icon */
    display: flex;
    align-items: center;
    justify-content: center;
}


.scroll-top.open {
    bottom: 30px; /* shows the button */
}

.scroll-top span {
    color: #fff;
}

.scroll-top:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

button.scroll-top:focus {
    outline: none;
}

.ti-angle-up:before {
    content: "\e648";
}

/*=========================================
            29.FOOTER CSS
============================================*/
.footer--main {
    background: rgb(58, 70, 84) !important;
    color: var(--shop-tertiary-color-400);
    padding: 50px;
}

.footer--main li {
    padding: 0;
    /*list-style-type: initial;*/
}

.footer--main li:hover {
    color: var(--shop-secondary-color-300);
}

.footer--info {
    padding-left: 100px;
    justify-content: center;

    @media (max-width: 1024px) {
        padding-left: 0;
    }
}

.footer__newsletter {
    position: relative;
    width: 100%;
}

.footer__newsletter svg {
    position: absolute;
    top: 64%;
    transform: translateY(-50%);
    right: 15px;

    @media (max-width: 480px) {
        right: 10px;
    }
}

.footer__newsletter input {
    background-color: #313B47;
    padding: 10px 40px 10px 10px;
    border: none;
    width: 100%;
}

.footer__social {
    padding: 20px 0;
    flex-direction: row;
}

.footer__social a {
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid var(--shop-tertiary-color-400);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__social a:hover {
    border: 1px solid var(--shop-secondary-color-300);
    color: var(--shop-secondary-color-300);
}

.footer__addresses {
    padding: 15px;
    border-radius: var(--shop-border-radius-default);
    background-color: #313B47;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 320px) and (max-width: 575px) {
    .hero-equal-height.hero-tab-slider {
        min-height: 500px !important;
    }

    .offer-tag {
        top: 10%;
    }
}


@media screen and (max-width: 1024px) {
    .shop-header__action--cart {
        top: 2px;
    }

    .product-card-bestseller {
        max-width: 99%;
        margin: 10px auto;

    }
}


@media screen and (max-width: 1539px) {
    .footer--main {
        /*margin: 80px 30px 80px 30px;*/
    }

    .about_marketly {
        padding-right: 30px;
        padding-left: 30px;
    }

    .products-container {
        padding-right: 30px;
        padding-left: 30px;
    }

    .container {
        max-width: 1200px;
    }
}


@media screen and (max-width: 1280px) {
    .product-card {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .category_background ul {
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .category_background ul::-webkit-scrollbar {
        display: none;
    }

    .category_background li {
        flex-shrink: 0;
        min-width: fit-content;
    }

    .category_background li span {
        white-space: nowrap;
    }
}

.section-spacing {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 640px) {
    .section-spacing {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media (min-width: 1024px) {
    .section-spacing {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}